body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* _____________________Шапка ______________________ */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.link-header:hover,
.link-header:focus {
  color: #2196f3;
}
.link-contacts {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.link-contacts:hover,
.link-contacts:focus {
  color: #2196f3;
}
/* ____________________Hero_________________________________ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}
.hero-text {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
/*  _____________________Главная страница _____________________
 */
.main-page {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
/*  _____________________work _____________________ */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-page-web {
  color: #2196f3;
}

/*  _____________________Кнопка _____________________ */
.button-main {
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.list-about {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
.list-about-text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.information-about {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*  _____________________information _____________________ */
.information {
  padding-bottom: 94px;
}

/*  _____________________Команда _____________________ */
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}
/*  _____________________Footer _____________________ */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.studio-footer {
  color: #ffffff;
}
.footer-link-map {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-contacts:hover,
.footer-link-contacts:focus {
  color: #2196f3;
}

/*  _____________________Работа с портфолио _____________________ */
.button-one {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.button {
  color: #212121;
  background-color: ##f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.menu-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.menu-text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
